.header{
    display: flex;
    justify-content:space-between;
    border: 1px solid orange;
}
.logo{
    width: 130px;
}
.nav-items{
    padding: 10px;
}
.nav-items>ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}
.nav-items>ul>li{
    padding: 10px;
    margin: 10px;

}
.res-card{
    width: 200px;
  
    padding: 5px;
    margin: 5px;
   
}
.res-card:hover{
    border: 1px solid orange;
    cursor: pointer;
}
.search{
    padding: 12px;
}
.res-logo{
    width: 100%;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 400px;
    margin: 20px;
    background-color: #f0f0f0;
}